# Dattix - Environment Configuration

# env.local is safe with me son, 
# this one is just for example, so you can copy the template and paste your desired excel path here if you need
# current default locatino is in the data folder of the directory

# Path to the Excel workbook (relative to project root)
WORKBOOK_PATH=./data/facebook_dataset.xlsx

# Path to backup directory (relative to project root)
BACKUP_DIR=./data/backups
